:root {
  --logo-size: 100px;
}

/* regra altamente específica, vence o reset */
table.dataTable td img.logo-time {
  height: var(--logo-size) !important;
  width: auto !important;
  display: inline-block !important;
  object-fit: contain !important;
  max-width: none !important; /* anula o reset global */
}

body {
  margin-top: 70px; /* ajuste o valor: 20px, 40px, 60px... */
}
